:root{
    /* primary */
--Soft-blue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);
/* neutral */
--Very-dark-blue-main-BG: hsl(217, 54%, 11%);
--Very-dark-blue-card-BG: hsl(216, 50%, 16%);
--Very-dark-blue-line: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}

body {
    background-color: var(--Very-dark-blue-main-BG);
    font-family: "Outfit";
    font-size: 18px;
    color: var(--Soft-blue);
}

#container {
    max-width: 348px;
    width: 100%;
    margin: 0 auto;
    margin-top: 5vh;
    box-sizing: border-box;
}

.card-img {
    object-fit: cover;
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    vertical-align: middle;
}

.card {
    background-color: var(--Very-dark-blue-card-BG);
    border: 1px solid var(--Very-dark-blue-line);
    padding: 23px;
    border-radius: 8px;
}

.card-details {
   display: flex;
   flex-direction: column;
}

.card_info_name {
    color: var(--White);
    font-size: 24px;
    font-weight: 600;
}

.card-details_value {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.card-details_owner {
    display: flex;
    border-top: 1px solid var(--Very-dark-blue-line);
}

.card_owner_img {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 14px
}

.owner-img {
    max-width: 42px;
    width: 100%;
    border: 2px solid var(--White);
    border-radius: 50%;
}

.card_value_eth {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.ethereum_sign {
    width: 16px;
    height: 16px;
}

.ethereum {
    font-size: 16px;
    font-weight: 400;
    color: var(--Cyan);
    margin: 0px;
}

.card_value_days {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.days_clock {
    width: 16px;
    height: 16px;
}

.days {
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
}

.owner-info {
    font-size: 14px;
    font-weight: 400;
}

.owner-name {
    color: var(--White);
}

.hover:hover {
    color: var(--Cyan);
    cursor: pointer;
}

.card-box {
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    position: relative;
    text-align: center;
}


.card-box:hover .card-img {
    opacity: 0.3;
}

.card-box:hover {
    background-color: var(--Cyan);
}

.card-box-hover {
transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card-box:hover .card-box-hover {
    opacity: 1;
}

.view-img {
    text-align: center;
}

